@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #FFF;
	background: #333;
}
/* Loader */
.loader-page {
	position: fixed;
	top: 0;
	background-color: #333;
	height: 100vh;
	width: 100vw;
	display: flex;
	opacity: 1;
	overflow: hidden;
	z-index: 999;
}
.loader-page .loader {
	background-color: inherit;
	width: 12rem;
	height: 12rem;
	margin: auto;
	border: 1.5rem solid #333;
	border-top: 1.5rem solid #FFF;
	border-bottom: 1.5rem solid #FFF;
	border-radius: 100%;
	animation: load-animation 750ms infinite linear;
}
/* Scroll Up Element */
.scroll-up-section {
	background: aquamarine;
	padding:  .5rem 1rem;
	display: inline-block;
	border-radius: 100%;
	width: 1.5rem;
	height: 2rem;
	position: fixed;
	bottom: .5rem;
	right: .5rem;
	box-sizing: content-box;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	z-index: 998;
}
.scroll-up-section .scroll-up-element {
	border: solid #333;
	border-width: 0 4px 4px 0;
	padding: 10px;
	display: block;
	transform: rotate(-135deg);
	margin: .5rem auto;
	transition: margin 250ms;
}
.scroll-up-section:hover .scroll-up-element {
	margin: 0 auto;
}

/* Showcase */
.showcase {
	background: url("images/showcase.jpg") no-repeat fixed  center / cover;
	overflow: hidden;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	text-shadow: 3px -3px 5px #000;
}
.showcase:before {
	content: "";
	position: absolute;
	margin: auto;
	width: 2rem;
	height: 2rem;
	font-size: 0;
	z-index: -1;
	border-radius: 100%;
	border: 1rem solid #333;
	border-top: 1rem solid #F4F4F4;
	border-bottom: 1rem solid #F4F4F4;
	animation: load-animation 750ms infinite linear;
}
.showcase > .title {
	font-size: 4rem;
}
.showcase > .describe {
	font-size: 2rem;
}

/*Navigation*/
.showcase .main-nav {
	position: absolute;
	top: 0;
	padding: 1rem;
	width: 100%;
}
.showcase .main-nav .main-list {
	margin: 0;
	padding-left: 0;
	list-style: none;
	text-align: right;
}
.showcase .main-nav .main-list .item {
	display: inline;
	margin-right: .5rem;
}
.showcase .main-nav .main-list .item .link {
	color: #FFF;
	display: inline-block;
	padding: .5rem;
	background: #12345F;
	position: relative;
	transition: color 750ms;
}
.showcase .main-nav .main-list .item .link:hover,
.showcase .main-nav .main-list .item .link:focus {
	color: #12345F;
	z-index: 2;
}
.showcase .main-nav .main-list .item .link:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width:0;
	background: #FFF;
	transition: width 500ms;
}
.showcase .main-nav .main-list .item .link:hover:before,
.showcase .main-nav .main-list .item .link:focus:before {
	z-index: -2;
	width: 100%;
}

/*Article*/
.article {
	margin: 3rem;
	border-bottom: 1px solid #F4F4F4;
}

.article:last-child {
	border-bottom: none;
}

.content-of-article {
	padding: 0 3rem;
	line-height: 1.8rem;
	letter-spacing: .2rem;
}
.content-of-article:first-letter {
	font-size: 2rem;
	font-style: italic;
	text-transform: uppercase;
	color: #0FF;
}
.image-in-article {
	width: 30%;
	height: 270px;
	padding: 1rem;
	padding-bottom: 0;
	display: flex;
	position: relative;
	opacity: 0;
}
.image-in-article.fade {
	animation: fade-in 500ms forwards;
}

.image-in-article:before {
	content: "";
	margin: auto;
	width: 2rem;
	height: 2rem;
	font-size: 0;
	border-radius: 100%;
	border: 1rem solid #333;
	border-top: 1rem solid #F4F4F4;
	border-bottom: 1rem solid #F4F4F4;
	animation: load-animation 750ms infinite linear;
}
.image-in-article:after {
	content: attr(alt);
	position: absolute;
	left: calc(50% - 2rem);
	top: calc(50% + 2.2rem);
}
.image-in-article[data-image-position="left"] {
	float: left;
	margin-left: 2rem;
}
.image-in-article[data-image-position="right"] {
	float: right;
	margin-right: 2rem;	
}
/* Concact Form*/
.contact-form {
	margin: 3rem;
	text-align: center;
}
.contact-form .contact-form-box {
	display: block;
	padding: 1rem 0;
}
.inputs-box {
	display: inline-block;
	line-height: 4rem;
	position: relative;
}
.warning-suggestion {
	position: absolute;
	top: -1.9rem;
	right: -.5rem;
	padding: 0 .5rem;
	color: #F00;
	font-size: .9rem;
	cursor: text;
}
.placeholder {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 .5rem;
	color: grey;
	transition: all 500ms;
	font-size: 1rem;
	cursor: text;
}
.inputs {
	width: 700px;
	padding: .5rem;
	background: #333;
	border: 1px solid #F4F4F4;
	color: #FFF;
	font-size: 1rem;
	transition: border-color 500ms;
}
.inputs:focus + .placeholder,
.inputs:not(:placeholder-shown) + .placeholder {
	top: -1.9rem;
	left: -.5rem;
	font-size: .9rem;
    color: aqua;
}
.message-area {
	width: 700px;
	height: 300px;
	padding: .5rem;
	margin: 1rem 0;
	border: 1px solid #F4F4F4;
	background: #333;
	color: #FFF;
	resize: none;
	font-size: 1rem;
}
.counter {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 1rem 0;
	padding: .5rem;
	color: grey;
}
.btn {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 350px;
	padding: .5rem 0;
	cursor: pointer;
}
.primary-btn {
	border: none;
	box-shadow: 0px 0px 3px #F4F4F4;
	position: relative;
	transition: color 250ms;
	color: transparent;
	text-shadow: 1px 1px 0px #333;
	font-weight: bold;
}
.primary-btn:hover {
	box-shadow: 0px 0px 6px #F4F4F4;
}
.visit-element {
	margin-top: 2rem;
	margin-bottom: 6.1rem;
	font-size: 1.2rem;
	cursor: pointer;
	font-style: italic;
	word-spacing: .2rem;
	display: inline-block;
	animation: none;
}
.visit-element  .arrow-down {
	display: inline-block;
	margin-left: 1rem;
}
.visit-element  .arrow-down .arrow {
	display: block;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid pink;
    border-right: 1px solid pink;
    transform: rotate(45deg);
	margin: -5px;	
}
.visit-element:hover .arrow-down .arrow {
	animation: arrow-down-animate 1s infinite;
}
.visit-element .arrow-down .arrow:nth-child(2) {
	animation-delay: -.2s;
}
.visit-element .arrow-down .arrow:nth-child(3) {
	animation-delay: -.4s;
}
/* About us */
.about-us {
	margin: 3rem;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.about-us > .information {
	width: 25%;
}
.about-us .map{
	height: 400px;
	width: 50%;
	display: flex;
	position: relative;
}
.about-us .map:before {
	content: "";
	margin: auto;
	width: 2rem;
	height: 2rem;
	font-size: 0;
	border-radius: 100%;
	border: 1rem solid #333;
	border-top: 1rem solid #F4F4F4;
	border-bottom: 1rem solid #F4F4F4;
	animation: load-animation 750ms infinite linear;
}
.about-us .map:after {
	content: attr(data-alt);
	position: absolute;
	top: 48%;
	left: 57%;
	z-index: -2;
}
.about-us .information .info-list {
	margin: 0;
	margin-right: 2rem;
}
.about-us .information .info-list > * {
	padding: 1rem 0;
	text-align: right;
}
.about-us .information .info-list .title-item {
	font-weight: bold;
	font-size: 1.2rem;	
	text-decoration: underline aqua;	
}
.about-us .information .info-list .info-item {
	margin: 0;
}



/*Footer*/
.main-footer {
	background: #F4F4F4;
	padding: 1rem 0;
}
.main-footer .footer-box {
	display: flex;
	flex-direction: row;
}
.main-footer .footer-box .author-section {
	width: 70%;
	text-align: center;
}
.main-footer .footer-box .author-section .author {
	display: block;
	color: #333;
	font-size: 1.2rem;
}
/* Social Media */

.main-footer .footer-box .social-media-box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1.5rem;
	width: 25%;
}
.main-footer .footer-box .social-media-box .social-media {
	border-radius: 1rem;
}
.main-footer .footer-box .social-media-box .social-media .links {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	transition: background-color 200ms;
}
.main-footer .footer-box .social-media-box .social-media .links:hover,
.main-footer .footer-box .social-media-box .social-media .links:focus {
	background-color: var(--background-hover);
}

/*Default Styles*/

::selection {
	background: orange;
	color: #000;
}
::-webkit-scrollbar {
	width: .5rem;
}
::-webkit-scrollbar-track{
	background: #f4f4f4;
	box-shadow: inset 0 0 .2rem grey;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(122,153,217)),
                                       color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}



.container {
	margin: 0 auto;
	max-width: 1600px;
	overflow: hidden;
}
.sections {
	padding-top: .5rem;
}
a {
	color: #FFF;
	text-decoration: none;
	text-shadow: none;
}
.title {
	text-align: center;
	margin: 1.5rem 0;
	text-transform: capitalize;
}
.cant-copy {
	-webkit-user-select: none; 
  	-moz-user-select: none; 
  	-ms-user-select: none; 
  	user-select: none;
}
.light-bg {
	background: #F4F4F4;
	color: #333;
}

/* Animations */
@keyframes load-animation {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@keyframes fade-out {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes fade-in {
	100% {
		opacity: 1;
		visibility: visible;
	}
}
@keyframes arrow-down-animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-10px, -10px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(10px, 10px);
	}
}

/* classes for JS */
.no-js {
	display: none;
}
.loader-page.hidden {
	animation: fade-out 1s forwards;
}
.show-scroll-up-element {
	animation: fade-in 1s forwards;
	pointer-events: all;
}
.error-input {
	border-color: #F00;
}
.error-placeholder {
	color: #F00 !important;
}
.hidden-warning-suggestion {
	visibility: hidden;
}

/* Media Query */

@media(min-width: 1500px) {
	.inputs {
		width: 1000px;
	}
}
@media(max-width: 1000px) {
	.image-in-article {
		width: 50%;
	}
}
@media screen and (max-width: 800px) {
	.inputs {
		width: 95vw;
	}
	.contact-form {
		margin: 0;
	}
	.main-footer .footer-box .social-media-box {
		width: 50%;
	}
	.about-us {
		flex-direction: column;
	} 
	.about-us .map, 
	.about-us .information {
		width: 100%;
	}
	.about-us .information .info-list > * {
		text-align: center;
	}
}
@media screen and (max-width: 600px) {
	.article {
		margin: 0;
	}
	.inputs-box {
		margin: .3rem 0;
	}
	.warning-suggestion {
		top: 1.9rem;
	}
	.warning-suggestion.textarea-suggestion {
		top: 300px;
	}
}
@media screen and (max-width: 500px){
	.showcase {
		height: 75vh;
	}
	.content-of-article {
		padding: 0 1rem;
		font-size: .8rem;
	}
	.image-in-article {
		width: 80%;
		float: none;
		padding: 0;
	}
	.describe {
		display: none;
	}
	.visit-element {
		display: none;
	}
	.main-footer .footer-box {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.main-footer .footer-box .author-section {
		margin-top: 1rem;
	} 
	.main-footer .footer-box .social-media-box .social-media .links {
		padding: .3rem 0;
		width: 4rem;
	}
	.main-footer .footer-box .author-section,
	.main-footer .footer-box .social-media-box {
		width: 100%;
	}
}
@media screen and (max-height: 450px) {
	.describe {
		display: none;
	}
	.visit-element {
		display: none;
	}
	.content-of-article {
		padding: 0 1rem;
		font-size: .8rem;
	}
}